{% extends 'base.html.twig' %}

{% block title %} Productos {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('app_product_new') }}" class="btn btn-primary float-right">Nuevo producto</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <div id="products">Loading...</div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function () {
            $('#products').initDataTables({{ datatable_settings(datatable) }}, {searching: true}).then(
                result => {
                    const products = document.getElementById('dt');

                    if (products) {
                        products.addEventListener('click', (e) => {
                            if (e.target.className === 'btn btn-danger delete-product') {
                                if (confirm('¿Está seguro?')) {
                                    const id = e.target.getAttribute('data-id');

                                    fetch(`/products/${id}/delete`, {
                                        method: 'DELETE'
                                    }).then(response => {
                                        this.location.reload();
                                    });
                                }
                            }
                        });
                    }
                }
            );
        });
    </script>
{% endblock %}
