{% extends 'base.html.twig' %}

{% block title %} Nuevo Producto {% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('app_product_index') }}" class="btn btn-primary float-right">Volver</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
